* {
  margin: 0;
  padding: 0;
}

.home-page, .game-page, .reward-page {
  background-image: url(./assets/images/background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.blinking-class {
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.question-state-container {
  height: 100px;
}

.disabled-btn {
  pointer-events: none;
  cursor: not-allowed;
}

.opacity {
  backdrop-filter: blur(5px);
}